:root {
  --cafe-oscuro: #251410;
  --cafe: #9b6436;
  --crema: #fde3b7;
  --cafe-second: #804c3c;
  --cafe-claro-second: #bf9982;
  --salmon-acento: #ec6a7a;
  --verde-acento:#bed682;
  --aguamar-acento:#8ececc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
  color: var(--cafe-oscuro);
}

h2 { font-family: 'Work Sans', sans-serif;
     font-weight: 800;
     font-size: 30px;
}


h4 { font-family: 'Work Sans', sans-serif; 
     font-weight: 800; 
     font-size: 20px; 
}


p {
  margin: 20px 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5rem;
}

i {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--cafe-oscuro);
}

a:hover {
  color: var(--cafe)
}

/***************** ESTILOS MENÚ DE NAVEGACIÓN *****************/

header{
  position: absolute;
  z-index: 10;
  width: 100%;
}

nav {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  height: 100px;
  background: white;
  color: var(--cafe-oscuro);
  display: flex;
  justify-content:space-between;
  align-items: center; /*centra eje horizontal */
  padding: 0 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px;
}

nav ul {
  display:flex;
  list-style-type: none;
  align-content: space-between;
}

nav a {
  text-decoration: none;
  color: var(--cafe-oscuro);
}

.container {
  position: absolute;
  top: 100px;
  width: 100%;
}

.contenedor-menus {
  display: flex;
  align-items: center; /* centrar los dos menús <ul>*/
}

.menu li {
  padding: 0 30px;
  text-align: center;
}

.user {
  padding-left: 120px;
}

.user li {
  padding: 15px;
}

.logo a img{
  width: 80px;
  margin-left: 15px;
}

.user a{
  color: var(--cafe-oscuro);
  font-size: 16px;
}

.menu a:hover {
  border-bottom: 2px solid var(--aguamar-acento);
}

.user a:hover{
  color: var(--cafe);
}

.menu-btn i{
  color:bisque;
  font-size: 24px;
  cursor: pointer;
  display: none;
}

#click {
  display: none;
}

#hechopor {
  display: none;
}


/*************************  ESTILOS MAIN ***********************/

.miga-de-pan ul {
  padding: 5px 10px;
  list-style: none;
  font-size: 14px;
}
/*************************  ESTILOS FOOTER ***********************/

.footer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: 
   "contacto slogan slogan mapa-sitio"
   "copyright copyright copyright copyright"
  ;
}
footer .contacto {
  display: grid;
  border-right: 1px solid var(--cafe-oscuro);
  padding: 30px;
}

footer .contacto img {
  margin: auto;
  width: 85%;
}

footer .contacto h4{
  text-align: center;
  font-weight: 800;
  margin-top: 24px;
}

footer .contacto div {
  margin-top: 8px;
  text-align: center;
}

footer .contacto i {
  margin: 5px;
  font-size: 28px;
}

footer .contacto a {
  color: var(--cafe-oscuro);
}

footer .contacto a:hover{
  color: var(--cafe);
}

footer .slogan {
  padding: 0 30px;
  display: grid;
  border-right: 1px solid var(--cafe-oscuro);
}

footer .slogan p {
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  margin: auto;
}

footer .mapa-sitio {
  display: grid;
  padding: 30px;

}

footer ul {
  list-style: none;
  padding: 0 20px;
}

footer li {
  margin-top: 20px;
}

footer #nombreCo a {
  border-bottom: 2px solid var(--aguamar-acento);
  font-weight: 800;
}

footer .mapa-sitio a {
  font-size: 16px;
}

footer .copyright {
  display: grid;
  background: var(--cafe-oscuro);
  color: var(--crema);
  justify-content: center;
  text-align: center;
}

footer .copyrigth p {
  margin: 20px;
}

/* MAIN */

.login h2 {
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  margin-top: 50px;
}

form {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin-bottom: 50px;
}

.login {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  /* margin-top: 50px; */
 
}

/* FORM */

.login-form {
  width: 330px;
  background-image: url("/img/bg_form.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
}

label {
  width: 100%;
}

label h3 {
  width: 100%;
  padding: 20px 0px 10px 0px;
}


label i {
  height: fit-content;
  width: 10%;
  display: inline;
}

label input {
  width: 220px;
  padding: 4px;
}

.icono-caja {
  gap: 10px;
  margin: auto;
}

.feedback {
  /* display: none;  SACADO POR DANI */ 
  width: 100%;
  padding: 0 0 0 35px;
  margin-top: 10px;
}

/* input:invalid+.feedback { SACADO POR DANI
  display: block;
  } */
  
  .inputs {
    padding: 30px;
    width: 100%;
  }

.login-inputs {
  padding: 30px;
  width: 100%;
}

/* .login-inputs h3 {
  margin-top: 20px;
  margin-bottom: 10px;
} */

.feedback {
  /* display: none; */
  color: red;
  font-size: 0.8rem;
}

#boton-login {
  padding: 6px;
  border-radius: 20px;
  background-color: var(--cafe-oscuro);
  border: none;
  color: var(--crema);
  cursor: pointer;
  width: 90%;
}

#boton-login:hover {
  color: var(--cafe-oscuro);
  background-color: var(--crema);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

.botonYcontrasena {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 250px;
  margin: auto;
}

.botonYcontrasena a {
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 40px;
}

.recuerdame {
  padding: 10px;
  font-size: 14px;
}

#olvido {
  padding-bottom: 0px;
}

main {
  background-color:rgba(255, 233, 205, 0.301);
}


@media (min-width:576px){

}

@media (min-width:992px){

}


@media (max-width:940px){

  /***************** ESTILOS MENÚ DE NAVEGACIÓN RESPONSIVE *****************/

  nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    background: var(--cafe-claro-second);
  }
/* Se fijan el logo y el menu-btn (hamburguesa) */

  nav .logo a {
    width: 80px;
    display: block;
    margin: 8px 0 0 30px;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .menu-btn i {
    position: fixed;
    top: 40px;
    right: 40px;
    display: block;
  }

  /* cuando id= click => contenedor-menu se mueve -10% en x */

  #click:checked ~ .contenedor-menus{
    left: -10%;
   }

  /* cuando id= click => i cambia a X antes de clickear */

  #click:checked ~ .menu-btn i::before{
    content: "\f00d";
  }

  .contenedor-menus {
    position: fixed;
    top: 100px;
    left: -100%; /* -100 desaparece */
    width: 80%;
    height: 100vh;
    display: inline; /* uno al lado del otro pero dirección row*/
    padding: 50px;
    background-color: var(--cafe-oscuro);
    justify-content: center;
    transition: all 0.3s ease;
  }

  .menu {
    width: 100%;
    flex-direction: column;
    padding: 50px 0;
  }

  .menu li {
    padding: 20px 0;
    font-size: 20px;
    width: 100%;
  }

  .menu a{
    color: var(--crema);
  }

  .user {
    width: 100%;
    padding: 0;
    justify-content: center;
  }

  .user li {
    padding: 0;
  }

  .user a {
    font-size: 24px;
    padding: 0 20px;
    color: var(--crema);
  }
  .user .lupa {
    display: none;
  }
  #hechopor {
    display: block;
    color: var(--crema);
    text-align: center;
    margin-top: 150px;
    font-weight: 200;
    line-height: 20px;
    padding-top: 20px;
    width: auto 0;
  }

  #hechopor img {
    height: 40px;
    margin: 0 10px;
    position: relative;
    top: 12px;
  }

/***************** ESTILOS FOOTER RESPONSIVE *****************/

.footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
   "contacto"
   "slogan"
   "mapa-sitio"
   "copyrigth"
  ;
  margin: 0 50px;
}

footer .contacto {
  border-right: 0;
}

footer .slogan {
  border-right: 0;
  border-top: 1px solid var(--cafe-oscuro);
  border-bottom: 1px solid var(--cafe-oscuro);
  padding: 30px 0;
}

footer .mapa-sitio {
  margin-bottom: 30px;
}

footer .mapa-sitio li {
  text-align: center;
}

footer .contacto img {
  margin: auto;
  width: 50%;
}

footer .copyrigth p{
  padding: 0 30px;
  text-align: center;
}
}



/* RECURSO */

/* https://www.youtube.com/watch?v=nKnrdABs7Zs&list=RDCMUCBlr2jG1onljL-gUy9bbhJw&start_radio=1&rv=nKnrdABs7Zs&t=54 */