* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
  
 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 }
  
 /* .App{
  max-width: 768px;
  margin: auto;
  padding: 20px;
 } */
  
 /* .nav{
  height: 80px;
  margin-bottom: 20px;
 }
  
 .navImage{
  height: 50%;
 } */

 .sidebar-color {
  background-color: "#9b6436";
 }
 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
 }
 
