<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/home style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@200;300;400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="css/normalize.css">
  <title>Home</title>
</head>

<body>
  <nav>
    <div class="logo"><a href="#"><img src="img/Tempo_Buono_Logo.svg" alt="Logo-Tempo-Buono"></a></div>

    <!-- input para dar click a burger menu (en responsive) -->
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fa-solid fa-bars"></i>
    </label>

    <div class="contenedor-menus">
      <ul class="menu">
        <li><a class="active" href="#">HOME</a></li>
        <li><a href="#">PRODUCTOS</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>

      <ul class="user">
        <li><a href="#"><i class="fa-solid fa-magnifying-glass lupa"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-user-astronaut"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
      </ul>

      <!-- esto se ve solo en el menu responsive post click en burger -->
      <p id="hechopor">Hecho con &#10084; <br> THE <img src="img/icon_monkey.svg" alt="icon monkey group"> GROUP </p>
    </div>
  </nav>

  <main>

    <div class="miga-de-pan">
      <ul>
        <li><a href="#">Home</a></li>
      </ul>
    </div>

    <section class="carrousel"> <img src="img/carrousel.png" alt="1 foto de carrousel"> </section>

    <secion class="slogan">

      <h2>Tempo Buono</h2>

      <p>Somos un sitio de e-commerce que se especializa en poder brindar un <em>'buen
          rato'</em> a cada cliente que compre su café y alfajor en función los gustos y estados de ánimo. Marinando una
        <strong>combinación perfecta</strong>.
      </p>
    </secion>


    <section class="categorias">

      <h2>Productos</h2>

      <div class="productos">

        <article class="producto" id="cafe">
          <img src="img/ilu_taza_cafe.png" alt="foto de taza">
          <div class="producto-sin-imagen">
            <h4>Café</h4>
            <p>descripcion de producto</p>
            <button type="button">Ver</button>
          </div>
        </article>

        <article class="producto" id="alfajor">
          <img src="img/ilu_alfajor.png" alt="foto de taza">
          <div class="producto-sin-imagen">
            <h4>Alfajores</h4>
            <p>descripcion de producto</p>
            <button type="button">Ver</button>
          </div>
        </article>

        <article class="producto" id="combo">
          <img src="img/combos.png" alt="foto de taza">
          <div class="producto-sin-imagen">
            <h4>Combos</h4>
            <p>descripcion de producto</p>
            <button type="button" href= "#">Ver</button>
          </div>
        </article>
      </div>
    </section>

    <section class="spotify">

      <h2>Música cafeínica</h2>

      <iframe src="https://open.spotify.com/embed/artist/2KFLecg2vCOBdzDPvfhX91" frameborder="0"
        allowtransparency="true" allow="encrypted-media"></iframe>
    </section>
  </main>

  <footer>

    <div class="footer">
      <div class="contacto">
        <img src="img/Tempo_Buono_Logo.svg" alt="Logo_Tempo_Buono">
        <h4>CONTÁCTANOS</h4>
        <div><a href="#"><i class="fa-brands fa-facebook-square"></a></i>
          <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
        </div>
      </div>

      <div class="slogan">
        <p>Alfajor + Café <br>"Combinación perfecta"</p>
      </div>

      <div class="mapa-sitio">
        <ul>
          <li id="nombreCo"><a href="#">TEMPO BUONO</a></li>
          <li><a href="#">Mapa del sitio</a></li>
          <li><a href="#">Políticas de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>
    </div>

    <div class="copyright">
      <p>Copyright &#169; 2022 | Todos los derechos reservados | THE <img src="img/icon_monkey.svg"
          alt="icon monkey group" height="20px"> GROUP </p>
    </div>
  </footer>
</body>

</html>