<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@200;300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>login</title>
</head>

<body>

    <nav>
        <div class="logo"><a href="#"><img src="img/Tempo_Buono_Logo.svg" alt="Logo-Tempo-Buono"></a></div>

        <!-- input para dar click a burger menu (en responsive) -->
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
            <i class="fa-solid fa-bars"></i>
        </label>

        <div class="contenedor-menus">
            <ul class="menu">
                <li><a class="active" href="/">HOME</a></li>
                <li><a href="productDetail.html">PRODUCTOS</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>

            <ul class="user">
                <li><a href="#"><i class="fa-solid fa-magnifying-glass lupa"></i></a></li>
                <li><a href="login.html"><i class="fa-solid fa-user-astronaut"></i></a></li>
                <li><a href="productCart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>

            <!-- esto se ve solo en el menu responsive post click en burger -->
            <p id="hechopor">Hecho con &#10084; <br> THE <img src="img/icon_monkey.svg" alt="icon monkey group"> GROUP
            </p>
        </div>
    </nav>

    <main>

        <div class="login">

            <h2>Login</h2>

            <form>

                <div class="login-inputs">
                    <h3>Email</h3>
                    <i class="fa-solid fa-envelope"></i>
                    <input type="text" name="" placeholder="">
                    <h3> Password</h3>
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="" placeholder="">
                </div>

                <div class="botonYcontrasena">
                    <input id="boton-login" type="submit" name="" value="Iniciar sesión">

                    <a id="olvido" href="#">Olvidó su contraseña?</a>

                    <a href="/register.html ">No tienes una cuenta?</a>
                </div>
            </form>

        </div>
    </main>
    <footer>

        <div class="footer">
            <div class="contacto">
                <img src="img/Tempo_Buono_Logo.svg" alt="Logo_Tempo_Buono">
                <h4>CONTÁCTANOS</h4>
                <div><a href="#"><i class="fa-brands fa-facebook-square"></a></i>
                    <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                </div>
            </div>

            <div class="slogan">
                <p>Alfajor + Café <br>"Combinación perfecta"</p>
            </div>

            <div class="mapa-sitio">
                <ul>
                    <li id="nombreCo"><a href="/">TEMPO BUONO</a></li>
                    <li><a href="#">Mapa del sitio</a></li>
                    <li><a href="#">Políticas de privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
        </div>

        <div class="copyright">
            <p>Copyright &#169; 2022 | Todos los derechos reservados | THE <img src="img/icon_monkey.svg"
                    alt="icon monkey group" height="20px"> GROUP </p>
        </div>
    </footer>

</body>

</html>