<%- include("./partials/head") %>
<body>

<%- include("./partials/header") %>

  <div class="container">
    <main class="login">

        <h2>Login</h2>

        <form action="/login" method="POST" class="login-form">

            <div class="login-inputs">

                <label for="usuario">
                    <h3>Email</h3>
                    <div class="icono-caja">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="usuario" id="usuario" placeholder="Usuario">
                        <span class="feedback">Ingresa tu nombre de usuario</span>
                    </div>
                </label>


                <label for="password">
                    <h3> Password</h3>
                    <div class="icono-caja">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" id="password" placeholder="Password" minlength="2">
                        <span class="feedback">Ingresa de nuevo tu password</span>
                    </div>
                </label>
            </div>

            <div class="botonYcontrasena">
                <input id="boton-login" type="submit" name="" value="Iniciar sesión">

                <div class="recuerdame">
                    <input type="checkbox" name="keep-login" id="keep-login" value="enviar" checked>
                    <label for="keep-login"></label>Recuérdame</label>
                </div>

                <!-- AUN NO SABEMOS RESOLVER ESTO -->
                <a id="olvido" href="#">Olvidó su contraseña?</a>

                <a href="/register">No tienes una cuenta?</a>
            </div>
        </form>

    </main>

  <%- include("./partials/footer") %>
 
</div>
 
</body>

</html>
