<%- include("./partials/head") %>
<body>

<%- include("./partials/header") %>

  <div class="container">
    
    <main>
      <div class="miga-de-pan">
        <ul>
          <li><a href="#">Home</a></li>/
          <li><a href="#">Modificar</a></li>
        </ul>
      </div>

      <h2>Modificación de producto</h2>

      <form action="/products/:id/edit?_method= " method="POST">

        <label for = "nombre_producto">
          <h3>Nombre de producto</h3>
          <input id="nombre_producto" type="text" placeholder="Nombre producto" name="nombre_producto">
        </label>

        <label for = "descripcion_producto">
          <h3>Descripción del producto</h3>
          <textarea id="descripcion_producto" name="descripcion_producto" placeholder="Descripción producto" rows="7"></textarea>
        </label>

        <label for = "imagen_producto">
          <h3>Imagen del producto</h3>
          <input id= "imagen_producto" type="file" name="imagen_producto" accept=".jpg, .bmp, .png">
        </label>

        <label><h3>Elige la categoría</h3></label>
        <select class="boton-categoria" name="categoria">
          <option value="1">Café</option>
          <option value="2">Alfajor</option>
          <option value="3">Combo</option>
        </select>

        <label for = "precio_producto">
          <h3>Precio de producto</h3>
          <input id="precio_producto" type="text" placeholder="Precio producto" name="precio_producto">
        </label>

        <input class="boton" type="submit" value="Enviar">
        <input class="boton" type="submit" value="Eliminar">
        
        
      </form>
      
    </main>

  <%- include("./partials/footer") %>
 
  </div>    
  
</body>
</html>