<%- include("./partials/head") %>
<body>
    
<%- include("./partials/header") %>

    <div class="container">
        
        <main>
            <div class="miga-de-pan">
                <ul>
                  <li><a href="#">Home</a></li>/
                  <li><a href="#">Carrito</a></li>
                </ul>
            </div>

            <div class="carrito">

                <h2>Su Carrito</h2>
                <a href="/">Continuar comprando</a>
            
            </div>
    
        <article class="producto-carrito">
            
            <div class="producto-detalle">
        
                <img src="img/Ilu_alfajor.png" alt="Detalle Producto">
                <div>
                    <h3>Alfajor María</h3>
                    <p>La tiene Maradona en el círculo central contra Alemão.
                      <br>
                      <strong>Peso x bolsa: 1000g.</strong> 
                    </p>
                </div>
            </div>

            <div class="unidadesYTacho">

                <label for="prodDetalle">
                <h4>Cantidad</h4>
                <input type="number" id="prodDetalle" name="prodDetalle" value="1"
                min="1" max="10">
                </label>

                <i class="fa-solid fa-trash-can"></i>

            </div>

            <div class="precio">

                <h4>Precio</h4>
                <p>$250,00</p>

            </div>

        </article>

        <div class="resumen">

            <h3>Notas de envío:</h3>

            <textarea id="notas"></textarea>

            <h2>Subtotal $500,00</h2>

            <p>Impuestos incluidos. Costo de envío calculado en Check Out.</p>
            
            <div class="check-out">

                <input id="boton-check-out" type="submit" name="" href="" value="Check Out">
            
            </div>

        </div>

        </main>

        <%- include("./partials/footer") %>

    </div>

</body>
</html>
