<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>
    <div class="container">
    <main>
        <h2>WIP - Página de profile</h2>
        
    </main>
    <%- include("./partials/footer") %>
    </div>
</body>
</html>