<%- include("./partials/head") %>
<body>
<%- include("./partials/header") %>
    <main>
        <h2>WIP - Página de profile</h2>
        
    </main>
<%- include("./partials/footer") %>
</body>
</html>