<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/register_styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@200;300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>register</title>
</head>

<body>
    
  <%- include("./partials/header") %>

  <div class="container">
    <main class="register">

        <h2>Registro</h2>

        <form action="/register" method="post" class="register-form">

            <div class="inputs">

                <label for="usuario">
                    <h3>Usuario</h3>
                    <div class="icono-caja">
                        <i class="fa-solid fa-user-astronaut"></i>
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario" minlength="2">
                        <span class="feedback">Ingresa tu nombre de usuario</span>
                    </div>

                </label>

                <label for="email">
                    <h3>Email</h3>
                    <div class="icono-caja">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" name="email" id="email" placeholder="Email">
                        <span class="feedback">Ingresa un email válido</span>
                    </div>

                </label>


                <label for="password">
                    <h3>Password</h3>
                    <div class="icono-caja">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name="password" id="password" placeholder="Password" minlength="2">
                        <span class="feedback">Ingresa un password válido</span>
                    </div>

                </label>
            </div>

            <div class="botonYpregunta">
                <input id="boton-registro" type="submit" name="" value="Registrarme">
                <a href="/login">Ya tienes cuenta?</a>
            </div>
        </form>
    </main>

    <%- include("./partials/footer") %>

  </div>
  
</body>

</html>
