<footer>

    <div class="footer">
      <div class="contacto">
        <img src="/img/Tempo_Buono_Logo.svg" alt="Logo_Tempo_Buono">
        <h4>CONTÁCTANOS</h4>
        <div><a href="#"><i class="fa-brands fa-facebook-square"></a></i>
          <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
        </div>
      </div>

      <div class="slogan">
        <p>Alfajor + Café <br>"Combinación perfecta"</p>
      </div>

      <div class="mapa-sitio">
        <ul>
          <li id="nombreCo"><a href="#">TEMPO BUONO</a></li>
          <li><a href="#">Mapa del sitio</a></li>
          <li><a href="#">Políticas de privacidad</a></li>
          <li><a href="#">Términos y condiciones</a></li>
        </ul>
      </div>
    </div>

    <div class="copyright">
      <p>Copyright &#169; 2022 | Todos los derechos reservados | THE <img src="/img/icon_monkey.svg"
          alt="icon monkey group" height="20px"> GROUP </p>
    </div>
  </footer>
