<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% switch (styles) {
  case 'home' : %>
  <link rel="stylesheet" href="css/home style.css">
  <% break;
  case 'crearProducto' : %>
  <link rel="stylesheet" href="/css/crear-producto-styles.css">
  <% break;
  case 'login' : %>
    <link rel="stylesheet" href="css/login_styles.css">
  <% break;
  case 'productDetail' : %>
    <link rel="stylesheet" href="/css/productDetail.css">
  <% break;
  case 'register' : %>
    <link rel="stylesheet" href="/css/register_styles.css">
  <% break;
  case 'modificar' : %>
  <link rel="stylesheet" href="/css/crear-producto-styles.css">
  <% break;
  case 'productList' : %>
  <link rel="stylesheet" href="/css/list-product-styles.css">
  <% break;
  case 'productCart' : %>
  <link rel="stylesheet" href="/css/productCart.css">
  <% break;
  case 'profile' : %>
  <link rel="stylesheet" href="/css/profile.css">
  <% break;
  } %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@200;300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <% switch (styles) {
    case 'home' : %>
   <title>Home</title>
    <% break;
    case 'crearProducto' : %>
    <title>Crear Producto</title>
    <% break;
    case 'login' : %>
      <title>login</title>
      <% break;
    case 'modificar' : %>
    <title>modificar</title>
    <% break;
    case 'profile' : %>
    <title>profile</title>
    <% break;
    } %>
</head>
